.main{
    background-color: #c7b6ff;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 69vh;
    background-color: #c7b6ff;
    z-index: 1;
    width: 100%;
    max-width: 1650px;
    padding: 0 50px;
}

.main_content h1{
    font-size: 4rem;
    background-color: red;
    background-image: linear-gradient(to top, red 0%, #7165CD 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content h2{
    font-size: 4rem;
    background-color: red;
    background-image: linear-gradient(to top, #7165CD 0%, red 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #7165CD;
}

.main_btn{
    font-size: 1.5rem;
    background-image: linear-gradient(to top, #7165CD 0%, red 100%);
    padding: 20px 100px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    z-index: 0;
}

.main_btn a{
    position: relative;
    color: white;
    text-decoration: none;
}

.main_btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #7165CD;
    transition: all 0.35s;
    border-radius: 4px;
    z-index: -1;
}

.main_btn:hover{
    color: #7165CD;
}

.main_btn:hover:after{
    width: 100%;
}

.main_img-container{
    text-align: center;
}

#main_image{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 960px){
    .main_container{
        height: 75vh;
    }
}

@media screen and (max-width: 870px) {
    .main_container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 50vh;
    }

    .main_content{
        text-align: center;
        margin-bottom: 4rem;
    }
    .main_content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .main_content h2 {
        font-size: 3rem;
    }

    .main_container p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px){
    .main_content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main_content h2 {
        font-size: 2rem;
    }

    .main_container p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main_btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

}

.services {
    background: #c7b6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.services h1 {
    background-color: aqua;
    background-image: linear-gradient(to right, 
        blue 0%,
        red 25%,
        blue 50%,
        red 75%,
        blue 100%
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services_card{
    display: flex;
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: url('images/stpaul.jpg');
    background-size: cover;
    border-radius: 10px;
    position: relative;
    color:rgb(253, 71, 89);
    transition: 0.5s ease-in;
}

.services_card:nth-child(1) {
    background-image: url('images/canwharf.jpg')
}
.services_card:nth-child(3) {
    background-image: url('images/train.jpg')
}
.services_card:nth-child(4) {
    background-image: url('images/maplost.jpg')
}


.services h2{
    position: absolute;
    top: 15px;
    left: 10px;
    text-shadow: 10px, 10px, 10px, black;
    font-size: 1.8rem;
}

.services_card p{
    position: absolute;
    top: 435px;
    left: 10px;
    font-size: 1.2rem;
    background-color: black;
}

.services_card button{
    color: black;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    position: absolute;
    top: 470px;
    left: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.services_card:hover {
    transform: scale(1.075);
    transition: 0.5s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1743px){
    .services{
        height:140vh
    }
}


@media screen and (max-width: 960px){
    .services {
        height: 190vh;
    }

    .services h1{
        font-size: 2rem;
        margin-top: 12rem;
        text-align: center;
    }
}

@media screen and (max-width: 881px) {
    .services{
        height: 270vh;
    } 
}

@media screen and (max-width: 480px) {
    .services {
        height: 276vh;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services_card {
        width: 300px;
    }
}